.App {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  position: fixed;
  flex-wrap: wrap;
  background-image: url("../image/background2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-width: 100%;
  min-height: 100%;
}

.Menu{
  display:flex;
  width: 100%;
  height: 80px;
  background-color: rgba(12, 12, 40, 0.7);
  justify-content: center;
  text-align: center;

}
.Linker{
  display: flex;
  height: 40px;
  width: 80px;
  justify-content: center;
  align-items: center;
  margin:20px;
  background-color: none;
  color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;  
}
.LinkerOnCursor{
  display: flex;
  height: 40px;
  width: 80px;
  justify-content: center;
  align-items: center;
  margin:20px;
  background-color: none;
  color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: rgba(14,94,113,255);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 255); 
  border-radius: 100px;
  cursor: pointer;
}
.Box{
  display:flex;
  align-self: center;
  flex-direction:column;
  position:fixed;
  justify-items: flex-end;
  align-items: center;
  box-sizing: content-box;
  color: rgb(0, 0, 0);
  margin-top: 8%;
  width: 55%;
  height: 50%;
  
  
  
}
.Box-Before{
  position:fixed;
  display: flex;
  width: 60%;
  height: 60%;
  margin-top:10%;
  background-color: rgba(81, 79, 79, 0.7);/*rgba(55, 53, 53, 0.7);*//*rgba(144, 139, 139, 0.7)*/
  box-shadow: 0px -10px 10px 0px rgba(0, 0, 0, 0.5);  
  z-index: -1;
  opacity: .95;
  backdrop-filter: blur(2px);
  justify-content:center;
  align-items: flex-end;
  border-radius: 20px;
}

.header {
  padding: 30px;
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 50px;
}
.body{
  padding: 10px;
  text-align: left;
  font-weight: bold;
  color: white;
  font-size: 19px;
}

.Github{
  display:flex;
  min-width:45px;
  min-height:45px; 
  background-image: url("../image/github.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 100;
}
.GithubOnCursor{
  display:flex;
  min-width:45px;
  min-height:45px;
  background-color: rgba(14,94,113,255);
  background-image: url("../image/github.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0px -0px 0px 2px rgba(255, 255, 255, 255);
  border-radius: 20px;
  cursor: pointer;
}
.Linkedin{
  display:flex;
  min-width:45px;
  min-height:45px; 
  background-image: url("../image/linkedin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  

}
.LinkedinOnCursor{
  display:flex;
  min-width:45px;
  min-height:45px; 
  background-image: url("../image/linkedin.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(14,94,113,255);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 255);
  border-radius: 20px;
  cursor: pointer;

}
.Resume{
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin:20px;
  margin-bottom: 5px;
  margin-top:30%;
  background-color: none;
  color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.ResumeOnCursor{
  display: flex;
  width: 100px;
  height: 40px;
  justify-content: center;
  align-items: center;
  margin:20px;
  margin-bottom: 5px;
  margin-top:30%;
  background-color: none;
  color: white;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-radius: 20px;
  background-color: rgba(14,94,113,255);
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 255);
  cursor: pointer;
}
.Img{
  display: flex;
  width: 25px;
  height: 25px;
  background-image: url("../image/download.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}